{# src/SD/CoreBundle/Resources/views/QueryBooking/modify.html.twig #}

{% extends "SDCoreBundle::layout.html.twig" %}

{% block body %}

{{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

<div class="panel panel-default">

<div class="panel-body">
    {{ form_errors(form) }}
    {{ form_row(form.name) }}
    {{ form_rest(form) }}
</div>

<div class="panel-footer">
<div class="btn-group">
<a href="{{ path('sd_core_queryBooking_edit', { 'queryBookingID': queryBooking.ID }) }}" class="btn btn-default"><i class="glyphicon glyphicon-chevron-left"></i> {{ 'cancel'|trans }}</a>
<button type="submit" class="btn btn-success"><i class="glyphicon glyphicon-ok"></i> {{ 'validate'|trans }}</button>
</div>
</div>

</div>

{{ form_end(form) }}

<script>
	document.getElementById("sd_corebundle_queryBooking_name").focus();

	var periodType = document.getElementById('sd_corebundle_queryBooking_periodType');
	var beginningDate = document.getElementById('sd_corebundle_queryBooking_beginningDate');
	var endDate = document.getElementById('sd_corebundle_queryBooking_endDate');
	var periodTypeValue = periodType.options[periodType.selectedIndex].value;

	if (periodTypeValue != "BETWEEN" && periodTypeValue != "AFTER") {
		beginningDate.disabled = true;
	}

	if (periodTypeValue != "BETWEEN" && periodTypeValue != "BEFORE") {
		endDate.disabled = true;
	}
</script>

<script src="{{ asset('bundles/sdcore/js/queryBooking.js') }}"></script>

{% endblock %}
