{# src/SD/CoreBundle/Resources/views/QueryBooking/modify.html.twig #}

{% extends "SDCoreBundle::layout.html.twig" %}

{% block body %}

{{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

<div class="panel panel-default">

<div class="panel-body">
    {{ form_errors(form) }}
    {{ form_row(form.name) }}
    {{ form_rest(form) }}
</div>

<div class="panel-footer">
<div class="btn-group">
<a href="{{ path('sd_core_queryBooking_edit', { 'queryBookingID': queryBooking.ID }) }}" class="btn btn-default"><i class="glyphicon glyphicon-chevron-left"></i> {{ 'cancel'|trans }}</a>
<button type="submit" class="btn btn-success"><i class="glyphicon glyphicon-ok"></i> {{ 'validate'|trans }}</button>
</div>
</div>

</div>

{{ form_end(form) }}

{% endblock %}
