{% trans_default_domain 'FOSUserBundle' %}

{{ form_start(form, { 'action': path('fos_user_profile_edit'), 'attr': { 'class': 'fos_user_profile_edit' } }) }}
<div class="panel panel-default">

  <div class="panel-body">
    {{ form_row(form.accountType) }}
    {{ form_row(form.lastName) }}
    {{ form_row(form.firstName) }}
    {{ form_row(form.uniqueName) }}
    {{ form_rest(form) }}
  </div>

  <div class="panel-footer">
      
<div class="btn-group">
    <a href="{{ path('fos_user_profile_show') }}" class="btn btn-default"><i class="glyphicon glyphicon-chevron-left"></i> {{ 'back'|trans({}, 'messages') }}</a>
    <button type="submit" class="btn btn-success"><i class="glyphicon glyphicon-ok"></i> {{ 'profile.edit.submit'|trans }}</button>
</div>
  </div>

</div>

<script src="{{ asset('bundles/sduser/js/profile.js') }}"></script>

{{ form_end(form) }}
