{% trans_default_domain 'FOSUserBundle' %}

{% block body %}

<div class="panel panel-default">

  <div class="panel-body">

{% if user.accountType == "ORGANISATION" %}
<p><img src="{{ asset('bundles/sdcore/images/organisation-32.png') }}">&nbsp;<strong>{{ user.uniqueName }}</strong></p>
{% endif %}
<p><img src="{{ asset('bundles/sdcore/images/user-32.png') }}">&nbsp;<strong>{{ user.firstName }}&nbsp;{{ user.lastName }}</strong></p>
<p><span class="glyphicon glyphicon-user icon-size32"></span>&nbsp;{{ user.username }}</strong></p>
<p><span class="glyphicon glyphicon-envelope icon-size32"></span>&nbsp;{{ user.email }}</strong></p>
  </div>

<div class="panel-footer">
    <a href="{{ path('fos_user_profile_edit') }}" class="btn btn-primary"><i class="glyphicon glyphicon-pencil"></i> {{ 'profile.edit.submit'|trans }}</a>
</div>
</div>
    
{% endblock %}
