{# src/SD/CoreBundle/Resources/views/UserFile/edit.html.twig #}

{% extends "SDCoreBundle::layout.html.twig" %}

{% block body %}

<div class="panel panel-default">

    <div class="panel-body">
{% if userFile.accountType == "ORGANISATION" %}
<p><img src="{{ asset('bundles/sdcore/images/organisation-32.png') }}">&nbsp;<strong>{{ userFile.uniqueName }}</strong></p>
{% endif %}
{% if userFile.administrator %}
<p><img src="{{ asset('bundles/sdcore/images/administrator-32.png') }}">&nbsp;<strong>{{ userFile.firstName }}&nbsp;{{ userFile.lastName }}</strong></p>
{% else %}
<p><img src="{{ asset('bundles/sdcore/images/user-32.png') }}">&nbsp;<strong>{{ userFile.firstName }}&nbsp;{{ userFile.lastName }}</strong></p>
{% endif %}
{% if userFile.userCreated %}
<p><span class="glyphicon glyphicon-user icon-size32"></span>&nbsp;{{ userFile.username }}</strong></p>
{% endif %}
<p><span class="glyphicon glyphicon-envelope icon-size32"></span>&nbsp;{{ userFile.email }}</strong></p>
    </div>

    <div class="panel-footer">
    <div class="btn-group">
<a href="{{ path('sd_core_userFile_list', { 'pageNumber': 1 }) }}" class="btn btn-default"><i class="glyphicon glyphicon-chevron-left"></i> {{ 'userFile.back.to.list'|trans }}</a>
{% if selectedUserIsFileCreator %}
    <button type="button" class="btn btn-info btn-primary" data-toggle="modal" data-target="#updateModal1"><span class="glyphicon glyphicon-pencil"></span> <del>{{ 'modify'|trans }}</del></button>
{% elseif userFile.userCreated and not connectedUserIsFileCreator %}
    <button type="button" class="btn btn-info btn-primary" data-toggle="modal" data-target="#updateModal2"><span class="glyphicon glyphicon-pencil"></span> <del>{{ 'modify'|trans }}</del></button>
{% else %}
    <a href="{{ path('sd_core_userFile_modify', { 'userFileID': userFile.ID }) }}" class="btn btn-primary"><i class="glyphicon glyphicon-pencil"></i> {{ 'modify'|trans }}</a>
{% endif %}
{% if selectedUserIsFileCreator %}
    <button type="button" class="btn btn-info btn-danger" data-toggle="modal" data-target="#deleteModal"><span class="glyphicon glyphicon-trash"></span> <del>{{ 'delete'|trans }}</del></button>
{% else %}
    <a href="{{ path('sd_core_userFile_delete', { 'userFileID': userFile.ID }) }}" class="btn btn-danger"><i class="glyphicon glyphicon-trash"></i> {{ 'delete'|trans }}</a>
{% endif %}
<a href="{{ path('sd_core_userFile_resource', { 'userFileID': userFile.ID }) }}" class="btn btn-default"><img src="{{ asset('bundles/sdcore/images/resource-16.png') }}"> {{ 'resource.singular'|trans }}</a>
    </div>
    
    </div>
</div>

{% for flash_message in app.session.flashBag.get('notice') %}
<div class="alert alert-success">
<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    {{ flash_message|trans }}
</div>
{% endfor %}

<!-- Modal -->
<div id="updateModal1" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">{{ 'update.not.allowed'|trans }}</h4>
      </div>
      <div class="modal-body">
        <p>{{ 'userFile.update.not.allowed.1'|trans }}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">{{ 'close'|trans }}</button>
      </div>
    </div>

  </div>
</div>

<div id="updateModal2" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">{{ 'update.not.allowed'|trans }}</h4>
      </div>
      <div class="modal-body">
        <p>{{ 'userFile.update.not.allowed.2'|trans }}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">{{ 'close'|trans }}</button>
      </div>
    </div>

  </div>
</div>

<div id="deleteModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">{{ 'delete.not.allowed'|trans }}</h4>
      </div>
      <div class="modal-body">
        <p>{{ 'userFile.delete.not.allowed'|trans }}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">{{ 'close'|trans }}</button>
      </div>
    </div>

  </div>
</div>

{% endblock %}
