{# src/SD/CoreBundle/Resources/views/UserFile/resource.html.twig #}

{% set resourceTypes = constant('SD\\CoreBundle\\Entity\\Constants::RESOURCE_TYPE') %}
{% set resourceTypeIcons = constant('SD\\CoreBundle\\Entity\\Constants::RESOURCE_TYPE_ICON') %}
{% set internalResourceClassifications = constant('SD\\CoreBundle\\Entity\\Constants::RESOURCE_CLASSIFICATION') %}
{% set resourceClassificationIcons = constant('SD\\CoreBundle\\Entity\\Constants::RESOURCE_CLASSIFICATION_ICON') %}

{% extends "SDCoreBundle::layout.html.twig" %}

{% block body %}

<div class="panel panel-default">

<div class="panel-heading">
{% if userFile.administrator %}
<img src="{{ asset('bundles/sdcore/images/administrator-32.png') }}">&nbsp;{{ 'resource.user.ask'|trans({'%name%': userFile.firstName}) }}
{% else %}
<img src="{{ asset('bundles/sdcore/images/user-32.png') }}">&nbsp;<strong>{{ 'resource.user.ask'|trans({'%name%': (userFile.firstName ~ ' ' ~ userFile.lastName)}) }}</strong>
{% endif %}
</div>

<div class="panel-body">

<div class="col-sm-4">

<a href="{{ path('sd_core_userFile_edit', { 'userFileID': userFile.ID }) }}" class="list-group-item"><img src="{{ asset('bundles/sdcore/images/red-cross-32.png') }}">&nbsp;{{ 'no'|trans }}</a>
<a href="{{ path('sd_core_userFile_edit', { 'userFileID': userFile.ID }) }}" class="list-group-item active"><img src="{{ asset('bundles/sdcore/images/green-check-32.png') }}">&nbsp;{{ 'yes'|trans }}</a>

</div>

<div class="col-sm-8">

{% for classificationCode in internalResourceClassifications[resourceType] %}
{% if classificationCode in activeInternalRC %}
{% if internal > 0 and classificationCode == resourceClassification %}
<a href="{{ path('sd_core_userFile_edit', { 'userFileID': userFile.ID }) }}" class="list-group-item active"><img src="{{ asset('bundles/sdcore/images/' ~ resourceClassificationIcons[classificationCode] ~ '-32.png') }}">&nbsp;{{ ('resourceClassification.singular.' ~ classificationCode)|trans }}</a>
{% else %}
<a href="{{ path('sd_core_userFile_resource_internal', { 'userFileID': userFile.ID, 'resourceClassification': classificationCode }) }}" class="list-group-item"><img src="{{ asset('bundles/sdcore/images/' ~ resourceClassificationIcons[classificationCode] ~ '-32.png') }}">&nbsp;{{ ('resourceClassification.singular.' ~ classificationCode)|trans }}</a>
{% endif %}
{% endif %}
{% endfor %}

{% for externalRC in listExternalRC %}
<a href="{{ path('sd_core_userFile_edit', { 'userFileID': userFile.ID }) }}" class="list-group-item"><img src="{{ asset('bundles/sdcore/images/' ~ resourceTypeIcons[resourceType] ~ '-32.png') }}">&nbsp;{{ externalRC.name }}</a>
{% endfor %}

</div>

</div>

<div class="panel-footer">
<div class="btn-group">
<a href="{{ path('sd_core_userFile_edit', { 'userFileID': userFile.ID }) }}" class="btn btn-default"><i class="glyphicon glyphicon-chevron-left"></i> {{ 'cancel'|trans }}</a>
<a href="{{ path('sd_core_userFile_edit', { 'userFileID': userFile.ID }) }}" class="btn btn-success"><i class="glyphicon glyphicon-ok"></i> {{ 'validate'|trans }}</a>
</div>
</div>

</div>

{% endblock %}
