{# src/SD/CoreBundle/Resources/views/Booking/create.html.twig #}

<div class="col-sm-6">

<a href="#" class="list-group-item" title="{{ 'booking.period.beginning.update'|trans }}"><img src="{{ asset('bundles/sdcore/images/time-32.png') }}">&nbsp;{{ dateLongue(beginningDate) }}&nbsp;&rarr;&nbsp;{{ timetableLine(beginningTimetableLine) }}</a>

{% if userFiles|length == 1 %}

{% if userFiles[0].administrator %} {% set image = 'administrator-32.png' %} {% else %} {% set image = 'user-32.png' %} {% endif %}
<a href="{{ path(userFiles_path, { 'planificationID': planification.ID, 'planificationPeriodID': planificationPeriod.ID, 'resourceID': resource.ID, 'date': date|date('Ymd'), 'timetableLinesList': timetableLinesList, 'userFileIDInitialList': userFileIDList, 'userFileIDList': userFileIDList }) }}" class="list-group-item" title="{{ 'booking.user.list.update'|trans }}"><img src="{{ asset('bundles/sdcore/images/' ~ image) }}">&nbsp;{{ userFiles[0].getFirstAndLastName() }}</a>

{% else %}

<table class="table table-striped">
	<thead>
	<tr>
	<th>{{ 'users'|trans }}&nbsp;
<a href="{{ path(userFiles_path, { 'planificationID': planification.ID, 'planificationPeriodID': planificationPeriod.ID, 'resourceID': resource.ID, 'date': date|date('Ymd'), 'timetableLinesList': timetableLinesList, 'userFileIDInitialList': userFileIDList, 'userFileIDList': userFileIDList }) }}" class="glyphicon glyphicon-pencil" title="{{ 'booking.user.list.update'|trans }}"></a>
	</th>
	</tr>
	</thead>
	<tbody>
{% for userFile in userFiles %}
	<tr>
{% if userFile.administrator %} {% set image = 'administrator-32.png' %} {% else %} {% set image = 'user-32.png' %} {% endif %}
	<td><img src="{{ asset('bundles/sdcore/images/' ~ image) }}">&nbsp;{{ userFile.getFirstAndLastName() }}</td>
	</tr>
{% endfor %}
	</tbody>
</table>

{% endif %}

</div>

<div class="col-sm-6">

<a href="{{ path(period_end, { 'planificationID': planification.ID, 'planificationPeriodID': planificationPeriod.ID, 'resourceID': resource.ID, 'date': date|date('Ymd'), 'timetableLinesList': timetableLinesList, 'firstDateNumber': 1, 'userFileIDList': userFileIDList }) }}" class="list-group-item" title="{{ 'booking.period.end.update'|trans }}"><img src="{{ asset('bundles/sdcore/images/time-32.png') }}">&nbsp;{{ dateLongue(endDate) }}&nbsp;&rarr;&nbsp;{{ timetableLine(endTimetableLine) }}</a>

</div>
