{# src/SD/CoreBundle/Resources/views/Booking/period.end.html.twig #}

<ul class="nav nav-pills">
{% for endPeriod in endPeriods %}
{% if loop.index <= 1 %}
  <li class="active"><a data-toggle="pill" href="#{{ endPeriod.date|date('Ymd') }}">{{ dateCourte(endPeriod.date) }}</a></li>
{% else %}
  <li><a data-toggle="pill" href="#{{ endPeriod.date|date('Ymd') }}">{{ dateCourte(endPeriod.date) }}</a></li>
{% endif %}
{% endfor %}
</ul>

<div class="tab-content">
{% for endPeriod in endPeriods %}
{% if loop.index <= 1 %}
  <div id="{{ endPeriod.date|date('Ymd') }}" class="tab-pane fade in active">
{% else %}
  <div id="{{ endPeriod.date|date('Ymd') }}" class="tab-pane fade">
{% endif %}

{% for period in endPeriod.periods %}
	<a href="#" class="list-group-item"><img src="{{ asset('bundles/sdcore/images/time-32.png') }}">&nbsp;{{ dateLongue(endPeriod.date) }}&nbsp;&rarr;&nbsp;{{ timetableLine(period.timetableLine) }}</a>
{% endfor %}

  </div>
{% endfor %}
</div>
