{# src/SD/CoreBundle/Resources/views/Booking/period.end.html.twig #}

<ul class="nav nav-pills">
{% for endPeriod in endPeriods %}
  <li><a data-toggle="pill" href="#{{ endPeriod.date|date('Ymd') }}">{{ ('day.abbr.' ~ (endPeriod.date|date("D")|upper))|trans }}&nbsp;{{ endPeriod.date|date("j") }}&nbsp;{{ (('month.abbr.' ~ (endPeriod.date|date("M")|upper))|trans)|lower }}&nbsp;{{ endPeriod.date|date("y") }}</a></li>

{% endfor %}
</ul>

<div class="tab-content">
{% for endPeriod in endPeriods %}
  <div id="{{ endPeriod.date|date('Ymd') }}" class="tab-pane fade">

{{ endPeriod.date|date('Ymd') }}

{% for period in endPeriod.periods %}
{{ period.timetableLine.beginningTime|date("H:i") }}
{% endfor %}

  </div>
{% endfor %}
</div>

