{# src/SD/CoreBundle/Resources/views/Booking/user.files.update.many.html.twig #}

{% extends "SDCoreBundle:Booking:user.files.html.twig" %}

{% block link_sortBefore %}
	<a href="{{ path('sd_core_booking_many_user_files_update', { 'bookingID': booking.ID, 'planificationID': planification.ID, 'planificationPeriodID': planificationPeriod.ID, 'resourceID': resource.ID, 'date': date|date('Ymd'), 'timetableLinesList': timetableLinesList, 'userFileIDInitialList': userFileIDInitialList, 'userFileIDList': userFile.userFileIDList_sortBefore }) }}" class="glyphicon glyphicon-arrow-up" title="{{ 'sort.before'|trans }}"></a>
{% endblock %}

{% block link_sortAfter %}
	<a href="{{ path('sd_core_booking_many_user_files_update', { 'bookingID': booking.ID, 'planificationID': planification.ID, 'planificationPeriodID': planificationPeriod.ID, 'resourceID': resource.ID, 'date': date|date('Ymd'), 'timetableLinesList': timetableLinesList, 'userFileIDInitialList': userFileIDInitialList, 'userFileIDList': userFile.userFileIDList_sortAfter }) }}" class="glyphicon glyphicon-arrow-down" title="{{ 'sort.after'|trans }}"></a>
{% endblock %}

{% block link_unselect %}
	<a href="{{ path('sd_core_booking_many_user_files_update', { 'bookingID': booking.ID, 'planificationID': planification.ID, 'planificationPeriodID': planificationPeriod.ID, 'resourceID': resource.ID, 'date': date|date('Ymd'), 'timetableLinesList': timetableLinesList, 'userFileIDInitialList': userFileIDInitialList, 'userFileIDList': userFile.userFileIDList_unselect }) }}" class="glyphicon glyphicon-arrow-right" title="{{ 'booking.user.unselect'|trans }}"></a>
{% endblock %}

{% block link_select %}
	<a href="{{ path('sd_core_booking_many_user_files_update', { 'bookingID': booking.ID, 'planificationID': planification.ID, 'planificationPeriodID': planificationPeriod.ID, 'resourceID': resource.ID, 'date': date|date('Ymd'), 'timetableLinesList': timetableLinesList, 'userFileIDInitialList': userFileIDInitialList, 'userFileIDList': userFile.userFileIDList_select }) }}" class="glyphicon glyphicon-arrow-left" title="{{ 'booking.user.select'|trans }}"></a>
{% endblock %}

{% block booking_buttons %}
	<a href="{{ path('sd_core_booking_many_update', { 'bookingID': booking.ID, 'planificationID': planification.ID, 'planificationPeriodID': planificationPeriod.ID, 'resourceID': resource.ID, 'date': date|date('Ymd'), 'timetableLinesList': timetableLinesList, 'userFileIDList': userFileIDInitialList }) }}" class="btn btn-default"><i class="glyphicon glyphicon-chevron-left"></i> {{ 'cancel'|trans }}</a>
{% if selectedUserFiles|length < 1 %}
	<button type="button" class="btn btn-success" data-toggle="modal" data-target="#validateModal"><span class="glyphicon glyphicon-ok"></span> <del>{{ 'validate'|trans }}</del></button>
{% else %}
	<a href="{{ path('sd_core_booking_many_update', { 'bookingID': booking.ID, 'planificationID': planification.ID, 'planificationPeriodID': planificationPeriod.ID, 'resourceID': resource.ID, 'date': date|date('Ymd'), 'timetableLinesList': timetableLinesList, 'userFileIDList': userFileIDList }) }}" class="btn btn-success"><i class="glyphicon glyphicon-ok"></i>&nbsp;{{ 'validate'|trans }}</a>
{% endif %}
{% endblock %}
