{# src/SD/CoreBundle/Resources/views/connected-navbar.html.twig #}

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="{{ path('sd_core_homepage') }}"><span class="label label-primary">Slam Booking</span></a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="{{ path('sd_core_file_list', { 'pageNumber': 1 }) }}"><img src="{{ asset('bundles/sdcore/images/file-16.png') }}"> {{ 'file.plural'|trans }}</a></li>
      <li><a href="{{ path('sd_core_administration') }}"><img src="{{ asset('bundles/sdcore/images/administration-16.png') }}"> {{ 'administration'|trans }}</a></li>
    </ul>

    <ul class="nav navbar-nav navbar-right">

    <li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#">{{ app.user.username }}
    <span class="caret"></span></a>
    <ul class="dropdown-menu">
        <li><a href="{{ path('fos_user_profile_show') }}"><span class="glyphicon glyphicon-user"></span>&nbsp;{{ 'user.account'|trans }}</a></li>
        <li><a href="{{ path('fos_user_change_password') }}"><span class="glyphicon glyphicon-tag"></span>&nbsp;{{ 'change_password.submit'|trans({}, 'FOSUserBundle') }}</a></li>
        <li><a href="{{ path('fos_user_security_logout') }}"><span class="glyphicon glyphicon-log-out"></span>&nbsp;{{ 'layout.logout'|trans({}, 'FOSUserBundle') }}</a></li>
    </ul>
    </li>
    </ul>
  </div>
</nav>
