{# src/SD/CoreBundle/Resources/views/Planification/line.html.twig #}

{% extends "SDCoreBundle::layout.html.twig" %}

{% block title %}{{ parent() }} line{% endblock %}

{% block body %}

{{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

<table class="table table-striped">
    <thead>
    <tr>
    <th colspan=3><img src="{{ asset('bundles/sdcore/images/planification-32.png') }}">&nbsp;{{ planification.name }}</th>
    </tr>
    </thead>
    <tbody>
<tr>
	<td><img src="{{ asset('bundles/sdcore/images/time-32.png') }}">&nbsp;{{ ('day.MON')|trans }}</td>
	<td>{{ form_row(form.activate_MON) }}</td>
	<td>{{ form_row(form.timetable_MON) }}</td>
</tr>
<tr>
	<td><img src="{{ asset('bundles/sdcore/images/time-32.png') }}">&nbsp;{{ ('day.TUE')|trans }}</td>
	<td>{{ form_row(form.activate_TUE) }}</td>
	<td>{{ form_row(form.timetable_TUE) }}</td>
</tr>
<tr>
	<td><img src="{{ asset('bundles/sdcore/images/time-32.png') }}">&nbsp;{{ ('day.WED')|trans }}</td>
	<td>{{ form_row(form.activate_WED) }}</td>
	<td>{{ form_row(form.timetable_WED) }}</td>
</tr>
<tr>
	<td><img src="{{ asset('bundles/sdcore/images/time-32.png') }}">&nbsp;{{ ('day.THU')|trans }}</td>
	<td>{{ form_row(form.activate_THU) }}</td>
	<td>{{ form_row(form.timetable_THU) }}</td>
</tr>
<tr>
	<td><img src="{{ asset('bundles/sdcore/images/time-32.png') }}">&nbsp;{{ ('day.FRI')|trans }}</td>
	<td>{{ form_row(form.activate_FRI) }}</td>
	<td>{{ form_row(form.timetable_FRI) }}</td>
</tr>
<tr>
	<td><img src="{{ asset('bundles/sdcore/images/time-32.png') }}">&nbsp;{{ ('day.SAT')|trans }}</td>
	<td>{{ form_row(form.activate_SAT) }}</td>
	<td>{{ form_row(form.timetable_SAT) }}</td>
</tr>
<tr>
	<td><img src="{{ asset('bundles/sdcore/images/time-32.png') }}">&nbsp;{{ ('day.SUN')|trans }}</td>
	<td>{{ form_row(form.activate_SUN) }}</td>
	<td>{{ form_row(form.timetable_SUN) }}</td>
</tr>
    </tbody>
</table>

{{ form_errors(form) }}

{{ form_rest(form) }}

<div class="col-sm-12 well well-sm btn-group">
	<a href="{{ path('sd_core_planification_edit', { 'planificationID': planification.ID, 'planificationPeriodID': planificationPeriod.ID }) }}" class="btn btn-default"><i class="glyphicon glyphicon-chevron-left"></i>{{ 'cancel'|trans }}</a>
	<button type="submit" class="btn btn-success"><i class="glyphicon glyphicon-ok"></i> {{ 'validate'|trans }}</button>
</div>

<script>
var activate_MON = document.getElementById('sd_corebundle_planificationLinesNDB_activate_MON');
var activate_TUE = document.getElementById('sd_corebundle_planificationLinesNDB_activate_TUE');
var activate_WED = document.getElementById('sd_corebundle_planificationLinesNDB_activate_WED');
var activate_THU = document.getElementById('sd_corebundle_planificationLinesNDB_activate_THU');
var activate_FRI = document.getElementById('sd_corebundle_planificationLinesNDB_activate_FRI');
var activate_SAT = document.getElementById('sd_corebundle_planificationLinesNDB_activate_SAT');
var activate_SUN = document.getElementById('sd_corebundle_planificationLinesNDB_activate_SUN');

var timetable_MON = document.getElementById('sd_corebundle_planificationLinesNDB_timetable_MON');
var timetable_TUE = document.getElementById('sd_corebundle_planificationLinesNDB_timetable_TUE');
var timetable_WED = document.getElementById('sd_corebundle_planificationLinesNDB_timetable_WED');
var timetable_THU = document.getElementById('sd_corebundle_planificationLinesNDB_timetable_THU');
var timetable_FRI = document.getElementById('sd_corebundle_planificationLinesNDB_timetable_FRI');
var timetable_SAT = document.getElementById('sd_corebundle_planificationLinesNDB_timetable_SAT');
var timetable_SUN = document.getElementById('sd_corebundle_planificationLinesNDB_timetable_SUN');

if (activate_MON.checked) {
	timetable_MON.style.visibility = "visible";
} else {
	timetable_MON.style.visibility = "hidden";
}

if (activate_TUE.checked) {
	timetable_TUE.style.visibility = "visible";
} else {
	timetable_TUE.style.visibility = "hidden";
}

if (activate_WED.checked) {
	timetable_WED.style.visibility = "visible";
} else {
	timetable_WED.style.visibility = "hidden";
}

if (activate_THU.checked) {
	timetable_THU.style.visibility = "visible";
} else {
	timetable_THU.style.visibility = "hidden";
}

if (activate_FRI.checked) {
	timetable_FRI.style.visibility = "visible";
} else {
	timetable_FRI.style.visibility = "hidden";
}

if (activate_SAT.checked) {
	timetable_SAT.style.visibility = "visible";
} else {
	timetable_SAT.style.visibility = "hidden";
}

if (activate_SUN.checked) {
	timetable_SUN.style.visibility = "visible";
} else {
	timetable_SUN.style.visibility = "hidden";
}

activate_MON.addEventListener('change', function() {
	if (activate_MON.checked) {
		timetable_MON.style.visibility = "visible";
	} else {
		timetable_MON.style.visibility = "hidden";
	}
});

activate_TUE.addEventListener('change', function() {
	if (activate_TUE.checked) {
		timetable_TUE.style.visibility = "visible";
	} else {
		timetable_TUE.style.visibility = "hidden";
	}
});

activate_WED.addEventListener('change', function() {
	if (activate_WED.checked) {
		timetable_WED.style.visibility = "visible";
	} else {
		timetable_WED.style.visibility = "hidden";
	}
});

activate_THU.addEventListener('change', function() {
	if (activate_THU.checked) {
		timetable_THU.style.visibility = "visible";
	} else {
		timetable_THU.style.visibility = "hidden";
	}
});

activate_FRI.addEventListener('change', function() {
	if (activate_FRI.checked) {
		timetable_FRI.style.visibility = "visible";
	} else {
		timetable_FRI.style.visibility = "hidden";
	}
});

activate_SAT.addEventListener('change', function() {
	if (activate_SAT.checked) {
		timetable_SAT.style.visibility = "visible";
	} else {
		timetable_SAT.style.visibility = "hidden";
	}
});

activate_SUN.addEventListener('change', function() {
	if (activate_SUN.checked) {
		timetable_SUN.style.visibility = "visible";
	} else {
		timetable_SUN.style.visibility = "hidden";
	}
});
</script>

{% endblock %}
