{# src/SD/CoreBundle/Resources/views/Planification/resource.html.twig #}

{% extends "SDCoreBundle::layout.html.twig" %}

{% block title %}{{ parent() }} planification{% endblock %}

{% block body %}

{% set rtIcons = constant('SD\\CoreBundle\\Entity\\Constants::RESOURCE_TYPE_ICON') %}
{% set rcIcons = constant('SD\\CoreBundle\\Entity\\Constants::RESOURCE_CLASSIFICATION_ICON') %}

<div class="col-sm-6">

<table class="table table-striped">

	<thead><tr>
{% if selectedResources|length > 1 %}
	<th colspan=4>
{% else %}
	<th colspan=2>
{% endif %}
	{{ 'planification.resource.selected'|trans }}</th></tr></thead>

	<tbody>
{% for resource in selectedResources %}
	<tr>
{% if selectedResources|length > 1 %}
{% if loop.index > 1 %}
	<td><a href="{{ path('sd_core_planification_init_resource', { 'type': type, 'resourceIDList': resource.resourceIDList_sortBefore }) }}" class="glyphicon glyphicon-arrow-up" title="{{ 'sort.before'|trans }}"></a></td>
{% else %}
	<td></td>
{% endif %}
{% if loop.index < selectedResources|length %}
	<td><a href="{{ path('sd_core_planification_init_resource', { 'type': type, 'resourceIDList': resource.resourceIDList_sortAfter }) }}" class="glyphicon glyphicon-arrow-down" title="{{ 'sort.after'|trans }}"></a></td>
{% else %}
	<td></td>
{% endif %}
{% endif %}
{% if resource.internal %}
	<td><img src="{{ asset('bundles/sdcore/images/' ~ rcIcons[resource.code] ~ '-32.png') }}">&nbsp;{{ resource.name }}</td>
{% else %}
	<td><img src="{{ asset('bundles/sdcore/images/' ~ rtIcons[resource.type] ~ '-32.png') }}">&nbsp;{{ resource.name }}</td>
{% endif %}
	<td><a href="{{ path('sd_core_planification_init_resource', { 'type': type, 'resourceIDList': resource.resourceIDList_unselect }) }}" class="glyphicon glyphicon-arrow-right" title="{{ 'planification.resource.unselect'|trans }}"></a></td>
	</tr>
{% endfor %}
	</tbody>
</table>

</div>

<div class="col-sm-6">

<table class="table table-striped">
	<thead><tr><th colspan=2>{{ 'planification.resource.to.planify'|trans }}</th></tr></thead>
	<tbody>
{% for resource in resourcesToPlanify %}
	<tr>
	<td><a href="{{ path('sd_core_planification_init_resource', { 'type': type, 'resourceIDList': resource.resourceIDList }) }}" class="glyphicon glyphicon-arrow-left" title="{{ 'planification.resource.select'|trans }}"></a></td>
{% if resource.internal %}
	<td><img src="{{ asset('bundles/sdcore/images/' ~ rcIcons[resource.code] ~ '-32.png') }}">&nbsp;{{ resource.name }}</td>
{% else %}
	<td><img src="{{ asset('bundles/sdcore/images/' ~ rtIcons[resource.type] ~ '-32.png') }}">&nbsp;{{ resource.name }}</td>
{% endif %}
	</tr>
{% endfor %}
	</tbody>
</table>

</div>

<div class="col-sm-12 well well-sm btn-group">
	<a href="{{ path('sd_core_planification_list', { 'pageNumber': 1 }) }}" class="btn btn-default"><i class="glyphicon glyphicon-chevron-left"></i>{{ 'cancel'|trans }}</a>
{% if selectedResources|length < 1 %}
	<button type="button" class="btn btn-success" data-toggle="modal" data-target="#validateModal"><span class="glyphicon glyphicon-ok"></span> <del>{{ 'validate'|trans }}</del></button>
{% else %}
	<a href="{{ path('sd_core_planification_validate_init_resource', { 'type': type, 'resourceIDList': selectedResourcesIDList }) }}" class="btn btn-success"><i class="glyphicon glyphicon-ok"></i>&nbsp;{{ 'validate'|trans }}</a>
{% endif %}
</div>

<!-- Modal -->
<div id="validateModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">{{ 'validate.not.allowed'|trans }}</h4>
      </div>
      <div class="modal-body">
        <p>{{ 'planification.validate.not.allowed'|trans }}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">{{ 'close'|trans }}</button>
      </div>
    </div>

  </div>
</div>

{% endblock %}
