{# src/SD/CoreBundle/Resources/views/Planification/type.html.twig #}

{% extends "SDCoreBundle::layout.html.twig" %}

{% set rtIcons = constant('SD\\CoreBundle\\Entity\\Constants::RESOURCE_TYPE_ICON') %}

{% block body %}

<div class="alert alert-info">
<span class="glyphicon glyphicon-star"></span>&nbsp;{{ 'planification.type.select'|trans }}
</div>

{% for rt in resourceTypes %}
	<a href="{{ path('sd_core_planification_init_resource', { 'type': rt.type }) }}" class="list-group-item"><img src="{{ asset('bundles/sdcore/images/' ~ rtIcons[rt.type] ~ '-32.png') }}">&nbsp;{{ ('resourceType.plural.' ~ rt.type)|trans }}<span class="badge">{{ rt.1 }}</span></a>
{% endfor %}

<div class="well well-sm">
	<a href="{{ path('sd_core_planification_list', { 'pageNumber': 1 }) }}" class="btn btn-default"><i class="glyphicon glyphicon-chevron-left"></i> {{ 'cancel'|trans }}</a>
</div>

{% endblock %}
