{# src/SD/CoreBundle/Resources/views/Default/administration.html.twig #}

{% extends "SDCoreBundle::layout.html.twig" %}

{% block title %}{{ parent() }} Administration{% endblock %}

{% block body %}
    
<div class="list-group">
{% if userContext.getCurrentUserFileAdministrator() %}
  <a href="{{ path('sd_core_userFile_list', { 'pageNumber': 1 }) }}" class="list-group-item list-group-item-success"><img src="{{ asset('bundles/sdcore/images/user-32.png') }}"> {{ 'user.plural'|trans }} <span class="badge">{{ fileContext.userFileCount }}</span></a>
  <a href="{{ path('sd_core_timetable_list', { 'pageNumber': 1 }) }}" class="list-group-item list-group-item-success"><img src="{{ asset('bundles/sdcore/images/time-32.png') }}"> {{ 'timetable.plural'|trans }} <span class="badge">{{ fileContext.timetableCount }}</span></a>
  <a href="{{ path('sd_core_activity_list', { 'pageNumber': 1 }) }}" class="list-group-item list-group-item-success"><img src="{{ asset('bundles/sdcore/images/activity-32.png') }}"> {{ 'activity.plural'|trans }} <span class="badge">{{ fileContext.activityCount }}</span></a>
{% if fileContext.resourceCount > 0 %}
  <a href="{{ path('sd_core_resource_list', { 'pageNumber': 1 }) }}" class="list-group-item list-group-item-success"><img src="{{ asset('bundles/sdcore/images/resource-32.png') }}"> {{ 'resource.plural'|trans }} <span class="badge">{{ fileContext.resourceCount }}</span></a>
{% else %}
  <a href="{{ path('sd_core_resource_list', { 'pageNumber': 1 }) }}" class="list-group-item list-group-item-warning"><img src="{{ asset('bundles/sdcore/images/resource-32.png') }}"> {{ 'resource.plural'|trans }} <span class="badge">{{ fileContext.resourceCount }}</span></a>
{% endif %}
{% if fileContext.planificationCount > 0 %}
  <a href="{{ path('sd_core_planification_list', { 'pageNumber': 1 }) }}" class="list-group-item list-group-item-success"><img src="{{ asset('bundles/sdcore/images/planification-32.png') }}"> {{ 'planification.plural'|trans }} <span class="badge">{{ fileContext.planificationCount }}</span></a>
{% else %}
  <a href="{{ path('sd_core_planification_list', { 'pageNumber': 1 }) }}" class="list-group-item list-group-item-warning"><img src="{{ asset('bundles/sdcore/images/planification-32.png') }}"> {{ 'planification.plural'|trans }} <span class="badge">{{ fileContext.planificationCount }}</span></a>
{% endif %}
{% else %}
  <li class="list-group-item list-group-item-success"><img src="{{ asset('bundles/sdcore/images/user-32.png') }}"> {{ 'user.plural'|trans }} <span class="badge">{{ fileContext.userFileCount }}</span></li>
  <li class="list-group-item list-group-item-success"><img src="{{ asset('bundles/sdcore/images/time-32.png') }}"> {{ 'timetable.plural'|trans }} <span class="badge">{{ fileContext.timetableCount }}</span></li>
  <li class="list-group-item list-group-item-success"><img src="{{ asset('bundles/sdcore/images/activity-32.png') }}"> {{ 'activity.plural'|trans }} <span class="badge">{{ fileContext.activityCount }}</span></li>
  <li class="list-group-item list-group-item-warning"><img src="{{ asset('bundles/sdcore/images/resource-32.png') }}"> {{ 'resource.plural'|trans }} <span class="badge">{{ fileContext.resourceCount }}</span></li>
  <li class="list-group-item list-group-item-warning"><img src="{{ asset('bundles/sdcore/images/planification-32.png') }}"> {{ 'planification.plural'|trans }} <span class="badge">{{ fileContext.planificationCount }}</span></li>
{% endif %}
</div>

{% endblock %}
