{# src/SD/CoreBundle/Resources/views/Label/delete.html.twig #}

{% extends "SDCoreBundle::layout.html.twig" %}

{% block body %}

{{ form_start(form) }}

<div class="panel panel-default">

<div class="panel-body">
<p>{{ 'label.ask.delete'|trans({'%name%': label.name}) }}</p>
</div>

<div class="panel-footer">

<div class="btn-group">
    <a href="{{ path('sd_core_label_edit', { 'labelID': label.ID }) }}" class="btn btn-default"><i class="glyphicon glyphicon-chevron-left"></i> {{ 'cancel'|trans }}</a>
    <button type="submit" class="btn btn-danger"><i class="glyphicon glyphicon-ok"></i> {{ 'validate'|trans }}</button>
</div>

</div>
</div>

{{ form_end(form) }}

{% endblock %}