{% extends "@FOSUser/FOSlayout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    <p>{{ 'registration.confirmed'|trans({'%username%': user.username}) }}</p>

<a href="{{ path('sd_core_homepage') }}" class="btn btn-primary"><i class="glyphicon glyphicon-share-alt"></i> {{ 'slam-booking.access'|trans({}, 'messages') }}</a>


    {% if targetUrl %}
    <p><a href="{{ targetUrl }}">{{ 'registration.back'|trans }}</a></p>
    {% endif %}
{% endblock fos_user_content %}
