{# src/SD/CoreBundle/Resources/views/Resource/add.html.twig #}

{% extends "SDCoreBundle::layout.html.twig" %}

{% block body %}

{% set resourceTypeIcons = constant('SD\\CoreBundle\\Entity\\Constants::RESOURCE_TYPE_ICON') %}
{% set resourceClassificationIcons = constant('SD\\CoreBundle\\Entity\\Constants::RESOURCE_CLASSIFICATION_ICON') %}

{{ form_start(form, {'attr': {'class': 'form-inline'}}) }}

<div class="panel panel-default">

<div class="panel-body">
    {{ form_errors(form) }}
{% if resource.internal %}
<p><img src="{{ asset('bundles/sdcore/images/' ~ resourceClassificationIcons[resource.code] ~ '-32.png') }}">&nbsp;<strong>{{ ('resourceClassification.singular.' ~ resource.code)|trans }}</strong></p>
{% else %}
<p><img src="{{ asset('bundles/sdcore/images/' ~ resourceTypeIcons[resource.type] ~ '-32.png') }}">&nbsp;<strong>{{ resourceClassification.name }}</strong></p>
{% endif %}
    {{ form_row(form.name) }}
    {{ form_row(form.backgroundColor) }}
    {{ form_row(form.foregroundColor) }}
</div>

<div class="panel-footer">
<div class="btn-group">
<a href="{{ path('sd_core_resource_list', { 'pageNumber': 1 }) }}" class="btn btn-default"><i class="glyphicon glyphicon-chevron-left"></i> {{ 'cancel'|trans }}</a>
<button type="submit" class="btn btn-success"><i class="glyphicon glyphicon-ok"></i> {{ 'validate'|trans }}</button>
{{ form_widget(form.validateAndCreate, { 'attr': {'class': 'btn btn-success'} }) }}
</div>
</div>

</div>

{{ form_end(form) }}

<form class="form-inline">
  <div class="form-group mb-2">
    <label for="staticEmail2" class="sr-only">Email</label>
    <input type="text" readonly class="form-control-plaintext" id="staticEmail2" value="email@example.com">
  </div>
  <div class="form-group mx-sm-3 mb-2">
    <label for="inputPassword2" class="sr-only">Password</label>
    <input type="password" class="form-control" id="inputPassword2" placeholder="Password">
  </div>
  <button type="submit" class="btn btn-primary mb-2">Confirm identity</button>
</form>

{% for flash_message in app.session.flashBag.get('notice') %}
<div class="alert alert-success">
<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    {{ flash_message|trans }}
</div>
{% endfor %}

<script>
	document.getElementById("resource_add_name").focus();
</script>

<script src="{{ asset('bundles/sdcore/js/resource.js') }}"></script>

{% endblock %}
