{# src/SD/CoreBundle/Resources/views/Resource/edit.html.twig #}

{% extends "SDCoreBundle::layout.html.twig" %}

{% block body %}

{% set resourceTypeIcons = constant('SD\\CoreBundle\\Entity\\Constants::RESOURCE_TYPE_ICON') %}
{% set resourceClassificationIcons = constant('SD\\CoreBundle\\Entity\\Constants::RESOURCE_CLASSIFICATION_ICON') %}

<div class="panel panel-default">

	<div class="panel-body">
{% if resource.internal %}
<p><img src="{{ asset('bundles/sdcore/images/' ~ resourceClassificationIcons[resource.code] ~ '-32.png') }}">&nbsp;<strong>{{ resource.name }}</strong></p>
{% else %}
<p><img src="{{ asset('bundles/sdcore/images/' ~ resourceTypeIcons[resource.type] ~ '-32.png') }}">&nbsp;<strong>{{ resource.name }}</strong></p>
{% endif %}
	</div>

	<div class="panel-footer">
	<div class="btn-group">
<a href="{{ path('sd_core_resource_list', { 'pageNumber': 1 }) }}" class="btn btn-default"><i class="glyphicon glyphicon-chevron-left"></i> {{ 'resource.back.to.list'|trans }}</a>
<a href="{{ path('sd_core_resource_modify', { 'resourceID': resource.ID }) }}" class="btn btn-primary"><i class="glyphicon glyphicon-pencil"></i> {{ 'modify'|trans }}</a>
{% if resourceContext.planificationPeriodsCount > 0 %}
	<a href="{{ path('sd_core_resource_foreign', { 'resourceID': resource.ID }) }}" class="btn btn-danger"><i class="glyphicon glyphicon-trash"></i> <del>{{ 'delete'|trans }}</del></a>
{% else %}
	<a href="{{ path('sd_core_resource_delete', { 'resourceID': resource.ID }) }}" class="btn btn-danger"><i class="glyphicon glyphicon-trash"></i> {{ 'delete'|trans }}</a>
{% endif %}
	</div>
	</div>
</div>

{% for flash_message in app.session.flashBag.get('notice') %}
<div class="alert alert-success">
<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    {{ flash_message|trans }}
</div>
{% endfor %}

{% endblock %}
