{# src/SD/CoreBundle/Resources/views/Resource/modify.html.twig #}

{% extends "SDCoreBundle::layout.html.twig" %}

{% block body %}

{% set resourceTypeIcons = constant('SD\\CoreBundle\\Entity\\Constants::RESOURCE_TYPE_ICON') %}
{% set resourceClassificationIcons = constant('SD\\CoreBundle\\Entity\\Constants::RESOURCE_CLASSIFICATION_ICON') %}

{{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

<div class="panel panel-default">

<div class="panel-heading">
{% if resource.internal %}
<img src="{{ asset('bundles/sdcore/images/' ~ resourceClassificationIcons[resource.code] ~ '-32.png') }}">&nbsp;<strong>{{ ('resourceClassification.singular.' ~ resource.code)|trans }}</strong>
{% else %}
<img src="{{ asset('bundles/sdcore/images/' ~ resourceTypeIcons[resource.type] ~ '-32.png') }}">&nbsp;<strong>{{ resource.classification.name }}</strong>
{% endif %}
</div>

<div class="panel-body">
    {{ form_errors(form) }}
    {{ form_row(form.name) }}
    {{ form_row(form.backgroundColor) }}
    {{ form_row(form.foregroundColor) }}
    {{ form_rest(form) }}
</div>

<div class="panel-footer">
<div class="btn-group">
<a href="{{ path('sd_core_resource_edit', { 'resourceID': resource.ID }) }}" class="btn btn-default"><i class="glyphicon glyphicon-chevron-left"></i> {{ 'cancel'|trans }}</a>
<button type="submit" class="btn btn-success"><i class="glyphicon glyphicon-ok"></i> {{ 'validate'|trans }}</button>
</div>
</div>

</div>

{{ form_end(form) }}

<script>
	document.getElementById("sd_corebundle_resource_name").focus();
</script>

<script src="{{ asset('bundles/sdcore/js/resource.js') }}"></script>

{% endblock %}
