{# src/SD/CoreBundle/Resources/views/Activity/index.html.twig #}

{% extends "SDCoreBundle::list-layout.html.twig" %}

{% set create_path, list_path, display_create_path = 'sd_core_activity_add', 'sd_core_activity_list', true %}

{% block title %}{{ parent() }} activity{% endblock %}

{% block listRow %}
<div class="row">

{% for i in 0..listContext.numberColumnsDisplayed-1 if listContext.numberColumnsDisplayed > 0 %}
    <div class="col-sm-{{ (12/listContext.numberColumnsDisplayed) }}">
	{% for j in 0..listContext.numberLinesDisplayed-1 if (i*listContext.numberLinesDisplayed+j) < listContext.numberRecordsDisplayed %}
	<a href="{{ path('sd_core_activity_edit', { 'activityID': listActivities[i*listContext.numberLinesDisplayed+j].ID }) }}" class="list-group-item"><img src="{{ asset('bundles/sdcore/images/activity-32.png') }}">&nbsp;{{ listActivities[i*listContext.numberLinesDisplayed+j].name }}</a>
        {% endfor %}
    </div>
{% endfor %}

</div>
{% endblock %}
