{# src/SD/CoreBundle/Resources/views/Timetable/edit.html.twig #}

{% set numberLinesDualButtons = constant('SD\\CoreBundle\\Entity\\Constants::NUMBER_LINES_MINI_DUAL_BUTTON_LIST') %}

{% extends "SDCoreBundle::layout.html.twig" %}

{% block body %}

<div class="panel panel-default">

{% if listTimetableLines|length > numberLinesDualButtons %}
<div class="panel-heading">
{{ include("SDCoreBundle:Timetable:edit.button.html.twig") }}
</div>
{% endif %}

<div class="panel-body">
<p><img src="{{ asset('bundles/sdcore/images/time-32.png') }}">&nbsp;<strong>{{ timetable.name }}</strong></p>

{% if listTimetableLines|length > 0 %}
<table class="table table-striped">
    <thead>
    <tr>
    <th>{{ 'from'|trans }}</th>
    <th>{{ 'to'|trans }}</th>
{% if timetable.type == 'T' %}
    <th>{{ 'modify'|trans }}</th>
    <th>{{ 'delete'|trans }}</th>
{% endif %}
    </tr>
    </thead>
    <tbody>
{% for timetableLine in listTimetableLines %}
<tr>
    <td>{{ timetableLine.beginningTime|date("H:i") }}</td>
    <td>{{ timetableLine.endTime|date("H:i") }}</td>
{% if timetable.type == 'T' %}
    <td><a href="{{ path('sd_core_timetable_modifyline', { 'timetableID': timetable.ID, 'timetableLineID': timetableLine.ID }) }}" class="glyphicon glyphicon-pencil"></a></td>
{% if timetableContext.planificationPeriodsCount > 0 %}
    <td><a href="{{ path('sd_core_timetable_foreign_update', { 'timetableID': timetable.ID }) }}" class="glyphicon glyphicon-trash" style="color:red"></a></td>
{% else %}
    <td><a href="{{ path('sd_core_timetable_deleteline', { 'timetableID': timetable.ID, 'timetableLineID': timetableLine.ID }) }}" class="glyphicon glyphicon-trash"></a></td>
{% endif %}
{% endif %}
</tr>
{% endfor %}
    </tbody>
</table>
{% endif %}
</div>

<div class="panel-footer">
{{ include("SDCoreBundle:Timetable:edit.button.html.twig") }}
</div>

</div>

{% for flash_message in app.session.flashBag.get('notice') %}
<div class="alert alert-success">
<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    {{ flash_message|trans }}
</div>
{% endfor %}

<!-- Modal -->
<div id="updateModal1" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">{{ 'update.not.allowed'|trans }}</h4>
      </div>
      <div class="modal-body">
        <p>{{ 'timetable.update.not.allowed.1'|trans }}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">{{ 'close'|trans }}</button>
      </div>
    </div>

  </div>
</div>

<div id="updateModal2" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">{{ 'update.not.allowed'|trans }}</h4>
      </div>
      <div class="modal-body">
        <p>{{ 'timetable.update.not.allowed.2'|trans }}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">{{ 'close'|trans }}</button>
      </div>
    </div>

  </div>
</div>

<div id="deleteModal1" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">{{ 'delete.not.allowed'|trans }}</h4>
      </div>
      <div class="modal-body">
        <p>{{ 'timetable.delete.not.allowed.1'|trans }}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">{{ 'close'|trans }}</button>
      </div>
    </div>

  </div>
</div>

<div id="deleteModal2" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">{{ 'delete.not.allowed'|trans }}</h4>
      </div>
      <div class="modal-body">
        <p>{{ 'timetable.delete.not.allowed.2'|trans }}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">{{ 'close'|trans }}</button>
      </div>
    </div>

  </div>
</div>

{% endblock %}
