{# src/SD/CoreBundle/Resources/views/Timetable/index.html.twig #}

{% extends "SDCoreBundle::list-layout.html.twig" %}

{% block title %}{{ parent() }} timetable{% endblock %}

{% block listRow %}
<div class="row">

{% for i in 0..listContext.numberColumnsDisplayed-1 if listContext.numberColumnsDisplayed > 0 %}
    <div class="col-sm-{{ (12/listContext.numberColumnsDisplayed) }}">
	{% for j in 0..listContext.numberLinesDisplayed-1 if (i*listContext.numberLinesDisplayed+j) < listContext.numberRecordsDisplayed %}
	<a href="{{ path('sd_core_timetable_edit', { 'timetableHeaderID': listTimetables[i*listContext.numberLinesDisplayed+j].ID }) }}" class="list-group-item"><img src="{{ asset('bundles/sdcore/images/time-16.png') }}">&nbsp;{{ listTimetables[i*listContext.numberLinesDisplayed+j].name }}</a>
	{% endfor %}
    </div>
{% endfor %}

</div>
{% endblock %}
