{# src/SD/CoreBundle/Resources/views/Timetable/modifyline.html.twig #}

{% extends "SDCoreBundle::layout.html.twig" %}

{% block body %}
{{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

<div class="panel panel-default">

<div class="panel-body">
<p><img src="{{ asset('bundles/sdcore/images/time-32.png') }}">&nbsp;<strong>{{ timetableHeader.name }}</strong></p>

<table class="table table-striped">
<thead>
    <tr>
    <th>{{ 'from'|trans }}</th>
	<th>&nbsp;</th>
    <th>{{ 'to'|trans }}</th>
    </tr>
</thead>
<tbody>

{% if listPreviousTimetableLines|length > 0 %}
{% for timetableLine in listPreviousTimetableLines|reverse %}
<tr>
    <td>{{ timetableLine.beginningTime|date("H:i") }}</td>
	<td>&nbsp;</td>
    <td>{{ timetableLine.endTime|date("H:i") }}</td>
</tr>
{% endfor %}
{% endif %}

<tr>
	<td>{{ form_row(form.beginningTime) }}</td>
	<td>&nbsp;</td>
	<td>{{ form_row(form.endTime) }}</td>
</tr>

{% if listNextTimetableLines|length > 0 %}
{% for timetableLine in listNextTimetableLines %}
<tr>
    <td>{{ timetableLine.beginningTime|date("H:i") }}</td>
	<td>&nbsp;</td>
    <td>{{ timetableLine.endTime|date("H:i") }}</td>
</tr>
{% endfor %}
{% endif %}

</tbody>
</table>

{{ form_errors(form) }}

</div>

<div class="panel-footer">
<div class="btn-group">
<a href="{{ path('sd_core_timetable_edit', { 'timetableHeaderID': timetableHeader.ID }) }}" class="btn btn-default"><i class="glyphicon glyphicon-chevron-left"></i> {{ 'cancel'|trans }}</a>
<button type="submit" class="btn btn-success"><i class="glyphicon glyphicon-ok"></i> {{ 'validate'|trans }}</button>
</div>
</div>

</div>

{{ form_end(form) }}

{% endblock %}
