{# src/SD/CoreBundle/Resources/views/Planning/booking.list.html.twig #}

{% extends "SDCoreBundle::list-layout.html.twig" %}

{% set create_path, list_path, display_create_path = 'sd_core_booking_add', list_path, false %}

{% block title %}{{ parent() }} label{% endblock %}

{% block listRow %}
<div class="row">

{% for i in 0..listContext.numberColumnsDisplayed-1 if listContext.numberColumnsDisplayed > 0 %}
    <div class="col-sm-{{ (12/listContext.numberColumnsDisplayed) }}">
	{% for j in 0..listContext.numberLinesDisplayed-1 if (i*listContext.numberLinesDisplayed+j) < listContext.numberRecordsDisplayed %}
	<a href="{{ path('sd_core_planning_one_timetable', { 'planificationID': listBookings[i*listContext.numberLinesDisplayed+j].planification.ID, 'date': listBookings[i*listContext.numberLinesDisplayed+j].beginningDate|date('Ymd') }) }}" class="list-group-item"><img src="{{ asset('bundles/sdcore/images/booking-32.png') }}">&nbsp;{{ listBookings[i*listContext.numberLinesDisplayed+j].resource.name }}&nbsp;{{ periode(listBookings[i*listContext.numberLinesDisplayed+j].beginningDate, listBookings[i*listContext.numberLinesDisplayed+j].endDate) }}</a>
	{% endfor %}
    </div>
{% endfor %}

</div>
{% endblock %}
