{# src/SD/CoreBundle/Resources/views/Planning/calendar.many.html.twig #}

{% set resourceTypeIcons = constant('SD\\CoreBundle\\Entity\\Constants::RESOURCE_TYPE_ICON') %}
{% set resourceClassificationIcons = constant('SD\\CoreBundle\\Entity\\Constants::RESOURCE_CLASSIFICATION_ICON') %}

{% extends "SDCoreBundle:Planning:planning.many.html.twig" %}

{% block planification_internal_active %}
	<a href="{{ path('sd_core_planning_many_calendar', { 'planificationID': i_p.ID, 'date': date|date('Ymd') }) }}" class="list-group-item active"><img src="{{ asset('bundles/sdcore/images/' ~ resourceClassificationIcons[i_p.code] ~ '-32.png') }}">&nbsp;{{ i_p.name }}</a>
{% endblock %}

{% block planification_internal %}
	<a href="{{ path('sd_core_planning_many_calendar', { 'planificationID': i_p.ID, 'date': date|date('Ymd') }) }}" class="list-group-item"><img src="{{ asset('bundles/sdcore/images/' ~ resourceClassificationIcons[i_p.code] ~ '-32.png') }}">&nbsp;{{ i_p.name }}</a>
{% endblock %}

{% block planification_external_active %}
	<a href="{{ path('sd_core_planning_many_calendar', { 'planificationID': i_p.ID, 'date': date|date('Ymd') }) }}" class="list-group-item active"><img src="{{ asset('bundles/sdcore/images/' ~ resourceTypeIcons[i_p.type] ~ '-32.png') }}">&nbsp;{{ i_p.name }}</a>
{% endblock %}

{% block planification_external %}
	<a href="{{ path('sd_core_planning_many_calendar', { 'planificationID': i_p.ID, 'date': date|date('Ymd') }) }}" class="list-group-item"><img src="{{ asset('bundles/sdcore/images/' ~ resourceTypeIcons[i_p.type] ~ '-32.png') }}">&nbsp;{{ i_p.name }}</a>
{% endblock %}

{% block planning_one %}
	<a href="{{ path('sd_core_planning_one_calendar', { 'planificationID': planification.ID, 'date': date|date('Ymd') }) }}" title="{{ 'planning.stretched.out'|trans }}"><span class="glyphicon glyphicon-resize-full"></span></a>
{% endblock %}

{% block planning %}
{% include 'ADesignsCalendarBundle::calendar.html.twig' %}
{% endblock %}
