{# src/SD/CoreBundle/Resources/views/Planning/timetable.html.twig #}

{% set rtIcons = constant('SD\\CoreBundle\\Entity\\Constants::RESOURCE_TYPE_ICON') %}
{% set rcIcons = constant('SD\\CoreBundle\\Entity\\Constants::RESOURCE_CLASSIFICATION_ICON') %}

{% extends "SDCoreBundle:Planning:planning.html.twig" %}

{% block planification_internal_active %}
	<a href="{{ path('sd_core_planning_timetable', { 'planificationID': i_p.ID, 'planificationPeriodID': i_p.planificationPeriodID, 'date': date|date('Ymd') }) }}" class="list-group-item active"><img src="{{ asset('bundles/sdcore/images/' ~ resourceClassificationIcons[i_p.code] ~ '-32.png') }}">&nbsp;{{ i_p.name }}</a>
{% endblock %}

{% block planification_internal %}
	<a href="{{ path('sd_core_planning_timetable', { 'planificationID': i_p.ID, 'planificationPeriodID': i_p.planificationPeriodID, 'date': date|date('Ymd') }) }}" class="list-group-item"><img src="{{ asset('bundles/sdcore/images/' ~ resourceClassificationIcons[i_p.code] ~ '-32.png') }}">&nbsp;{{ i_p.name }}</a>
{% endblock %}

{% block planification_external_active %}
	<a href="{{ path('sd_core_planning_timetable', { 'planificationID': i_p.ID, 'planificationPeriodID': i_p.planificationPeriodID, 'date': date|date('Ymd') }) }}" class="list-group-item active"><img src="{{ asset('bundles/sdcore/images/' ~ resourceTypeIcons[i_p.type] ~ '-32.png') }}">&nbsp;{{ i_p.name }}</a>
{% endblock %}

{% block planification_external %}
	<a href="{{ path('sd_core_planning_timetable', { 'planificationID': i_p.ID, 'planificationPeriodID': i_p.planificationPeriodID, 'date': date|date('Ymd') }) }}" class="list-group-item"><img src="{{ asset('bundles/sdcore/images/' ~ resourceTypeIcons[i_p.type] ~ '-32.png') }}">&nbsp;{{ i_p.name }}</a>
{% endblock %}

{% block planning_navbar %}
	<li><a href="{{ path('sd_core_planning_timetable', { 'planificationID': planificationID, 'planificationPeriodID': planificationPeriodID, 'date': previousDate|date('Ymd') }) }}" class="glyphicon glyphicon-backward" title="{{ 'period.previous'|trans }}"></a></li>
	<li><a class="navbar-brand" href="#">{{ ('day.' ~ (date|date("D")|upper))|trans }}&nbsp;{{ date|date("j") }}&nbsp;{{ (('month.' ~ (date|date("M")|upper))|trans)|lower }}&nbsp;{{ date|date("Y") }}</a></li>
	<li><a href="{{ path('sd_core_planning_timetable', { 'planificationID': planificationID, 'planificationPeriodID': planificationPeriodID, 'date': nextDate|date('Ymd') }) }}" class="glyphicon glyphicon-forward" title="{{ 'period.next'|trans }}"></a></li>
{% endblock %}

{% block planning %}

<table class="table table-striped">
    <tbody>
{% for planificationResource in planificationResources %}
<tr>
{% if planificationResource.resource.internal %}
	<td><img src="{{ asset('bundles/sdcore/images/' ~ rcIcons[planificationResource.resource.code] ~ '-16.png') }}">&nbsp;{{ planificationResource.resource.name }}</td>
{% else %}
	<td><img src="{{ asset('bundles/sdcore/images/' ~ rtIcons[planificationResource.resource.type] ~ '-16.png') }}">&nbsp;{{ planificationResource.resource.name }}</td>
{% endif %}
</tr>
{% endfor %}
    </tbody>
</table>

Closed

{% endblock %}
