{# src/SD/CoreBundle/Resources/views/Planning/planning.many.html.twig #}

{% set rtIcons = constant('SD\\CoreBundle\\Entity\\Constants::RESOURCE_TYPE_ICON') %}
{% set rcIcons = constant('SD\\CoreBundle\\Entity\\Constants::RESOURCE_CLASSIFICATION_ICON') %}

{% extends "SDCoreBundle::layout.html.twig" %}

{% block title %}{{ parent() }} Planning{% endblock %}

{% block body %}
{% block form_start %}{% endblock %}

<div class="col-sm-3">

{% block listRow %}
{% for i_p in planifications %}
<div class="row">
{% if i_p.internal %}

{% if i_p.ID == planification.ID %}
{% block planification_internal_active %}{% endblock %}
{% else %}
{% block planification_internal %}{% endblock %}
{% endif %}

{% else %}

{% if i_p.ID == planification.ID %}
{% block planification_external_active %}{% endblock %}
{% else %}
{% block planification_external %}{% endblock %}
{% endif %}

{% endif %}
</div>
{% endfor %}
{% endblock %}

</div>

<div class="col-sm-9">

<nav class="navbar navbar-default">
	<div class="container-fluid">
		<ul class="nav navbar-nav">
		<li>{% block planning_one %}{% endblock %}</li>
		</ul>
		<ul class="nav navbar-nav navbar-right">
	<li><a href="{{ path('sd_core_planning_many_timetable_pp', { 'planificationID': planification.ID, 'planificationPeriodID': planificationPeriod.ID, 'date': date|date('Ymd') }) }}"><span class="glyphicon glyphicon-th"></span>&nbsp;{{ 'planning.timetable'|trans }}</a></li>
	<li><a href="{{ path('sd_core_planning_many_calendar', { 'planificationID': planification.ID, 'planificationPeriodID': planificationPeriod.ID, 'date': date|date('Ymd') }) }}"><span class="glyphicon glyphicon-calendar"></span>&nbsp;{{ 'planning.calendar'|trans }}</a></li>
		</ul>
	</div>
</nav>

{% block planning %}{% endblock %}

</div>

{% block form_end %}{% endblock %}
{% endblock %}
