{# src/SD/CoreBundle/Resources/views/Planning/timetable.html.twig #}

{% extends "SDCoreBundle:Planning:planning.html.twig" %}

{% block planification_internal_active %}
	<a href="{{ path('sd_core_planning_timetable', { 'planificationID': i_p.ID, 'date': date|date('Ymd') }) }}" class="list-group-item active"><img src="{{ asset('bundles/sdcore/images/' ~ resourceClassificationIcons[i_p.code] ~ '-32.png') }}">&nbsp;{{ i_p.name }}</a>
{% endblock %}

{% block planification_internal %}
	<a href="{{ path('sd_core_planning_timetable', { 'planificationID': i_p.ID, 'date': date|date('Ymd') }) }}" class="list-group-item"><img src="{{ asset('bundles/sdcore/images/' ~ resourceClassificationIcons[i_p.code] ~ '-32.png') }}">&nbsp;{{ i_p.name }}</a>
{% endblock %}

{% block planification_external_active %}
	<a href="{{ path('sd_core_planning_timetable', { 'planificationID': i_p.ID, 'date': date|date('Ymd') }) }}" class="list-group-item active"><img src="{{ asset('bundles/sdcore/images/' ~ resourceTypeIcons[i_p.type] ~ '-32.png') }}">&nbsp;{{ i_p.name }}</a>
{% endblock %}

{% block planification_external %}
	<a href="{{ path('sd_core_planning_timetable', { 'planificationID': i_p.ID, 'date': date|date('Ymd') }) }}" class="list-group-item"><img src="{{ asset('bundles/sdcore/images/' ~ resourceTypeIcons[i_p.type] ~ '-32.png') }}">&nbsp;{{ i_p.name }}</a>
{% endblock %}

{% block planning_navbar %}
	<li><a href="{{ path('sd_core_planning_timetable', { 'planificationID': planificationID, 'date': previousDate|date('Ymd') }) }}" class="glyphicon glyphicon-backward" title="{{ 'period.previous'|trans }}"></a></li>
	<li>{{ date|date("m/d/Y") }}</li>
	<li><a href="{{ path('sd_core_planning_timetable', { 'planificationID': planificationID, 'date': nextDate|date('Ymd') }) }}" class="glyphicon glyphicon-forward" title="{{ 'period.next'|trans }}"></a></li>
{% endblock %}

{% block planning %}
111
{{ "now"|date("m/d/Y") }}
222
{{ date|date("m/d/Y") }}
333
{% endblock %}
