{# src/SD/CoreBundle/Resources/views/Planning/timetable.opened.html.twig #}

<table class="table table-bordered table-striped">
	<thead>
	<tr>
	<th></th>
{% for planificationResource in planificationResources %}
	<th>
{% if planificationResource.resource.internal %}
	<img src="{{ asset('bundles/sdcore/images/' ~ rcIcons[planificationResource.resource.code] ~ '-16.png') }}">&nbsp;{{ planificationResource.resource.name }}
{% else %}
	<img src="{{ asset('bundles/sdcore/images/' ~ rtIcons[planificationResource.resource.type] ~ '-16.png') }}">&nbsp;{{ planificationResource.resource.name }}
{% endif %}
	</th>
{% endfor %}
	</tr>
	</thead>
	<tbody>
{% for timetableLine in timetableLines %}
<tr>
	<td>{{ timetableLine(timetableLine) }}</td>
{% for planificationResource in planificationResources %}
        <td>
<a href="{{ path(booking_create, { 'planificationID': planification.ID, 'planificationPeriodID': planificationPeriod.ID, 'resourceID': planificationResource.resource.ID, 'date': date|date('Ymd'), 'timetableLinesList': (date|date('Ymd') ~ '+' ~ timetableLine.timetable.ID ~ '+' ~ timetableLine.ID) }) }}" class="glyphicon glyphicon-plus" title="{{ 'booking.create'|trans }}"></a>
        </td>
{% endfor %}
</tr>
{% endfor %}
	</tbody>
</table>
