{# src/SD/CoreBundle/Resources/views/Planning/timetable.one.html.twig #}

{% set rtIcons = constant('SD\\CoreBundle\\Entity\\Constants::RESOURCE_TYPE_ICON') %}
{% set rcIcons = constant('SD\\CoreBundle\\Entity\\Constants::RESOURCE_CLASSIFICATION_ICON') %}

{% extends "SDCoreBundle:Planning:planning.one.html.twig" %}

{% block planning_many %}
	<a href="{{ path('sd_core_planning_many_timetable', { 'planificationID': planification.ID, 'planificationPeriodID': planificationPeriod.ID, 'date': date|date('Ymd') }) }}" title="{{ 'planning.global'|trans }}"><span class="glyphicon glyphicon-resize-small"></span></a>
{% endblock %}

{% block form_start %}
	{{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
{% endblock %}

{% block form_end %}
	{{ form_end(form) }}
{% endblock %}

{% block planning %}

<div class="well well-sm container" style="color:blue; text-align: center">
<div class="row">
<div class="col-sm-2">
{{ form_widget(form.date) }}
<button type="submit" class="btn btn-success">{{ 'validate'|trans }}</button>
<button type="submit" class="glyphicon glyphicon-chevron-left"></button>
</div>
<div class="col-sm-10">
<a href="{{ path('sd_core_planning_one_timetable', { 'planificationID': planification.ID, 'planificationPeriodID': planificationPeriod.ID, 'date': previousDate|date('Ymd') }) }}" class="glyphicon glyphicon-chevron-left" title="{{ 'day.previous'|trans }}"></a>&nbsp;
{{ ('day.' ~ (date|date("D")|upper))|trans }}&nbsp;{{ date|date("j") }}&nbsp;{{ (('month.' ~ (date|date("M")|upper))|trans)|lower }}&nbsp;{{ date|date("Y") }}&nbsp;
<a href="{{ path('sd_core_planning_one_timetable', { 'planificationID': planification.ID, 'planificationPeriodID': planificationPeriod.ID, 'date': nextDate|date('Ymd') }) }}" class="glyphicon glyphicon-chevron-right" title="{{ 'day.next'|trans }}"></a>
</div>
</div>
</div>

{% block planning_timetable %}
{% endblock %}

{% endblock %}
