{# src/SD/CoreBundle/Resources/views/Planning/timetable.one.html.twig #}

{% set rtIcons = constant('SD\\CoreBundle\\Entity\\Constants::RESOURCE_TYPE_ICON') %}
{% set rcIcons = constant('SD\\CoreBundle\\Entity\\Constants::RESOURCE_CLASSIFICATION_ICON') %}

{% extends "SDCoreBundle:Planning:planning.one.html.twig" %}

{% block planning_many %}
	<a href="{{ path('sd_core_planning_many_timetable_pp', { 'planificationID': planification.ID, 'planificationPeriodID': planificationPeriod.ID, 'date': date|date('Ymd') }) }}" title="{{ 'planning.global'|trans }}"><span class="glyphicon glyphicon-resize-small"></span></a>
{% endblock %}

{% block form_start %}
	{{ form_start(form, {'attr': {'class': 'form-inline'}}) }}
{% endblock %}

{% block form_end %}
	{{ form_end(form) }}
{% endblock %}

{% block planning %}

<div class="well well-sm" style="color:blue">
<div class="row">

<div class="col-sm-6">
	{{ form_widget(form.date) }}
<button type="submit" class="btn btn-default">
	<span class="glyphicon glyphicon-th"></span>
</button>
</div>

<div class="col-sm-6">
<a href="{{ path('sd_core_planning_one_timetable', { 'planificationID': planification.ID, 'planificationPeriodID': planificationPeriod.ID, 'date': previousDate|date('Ymd') }) }}" class="glyphicon glyphicon-chevron-left" title="{{ 'day.previous'|trans }}"></a>
	{{ ('day.' ~ (date|date("D")|upper))|trans }}&nbsp;{{ date|date("j") }}&nbsp;{{ (('month.' ~ (date|date("M")|upper))|trans)|lower }}&nbsp;{{ date|date("Y") }}&nbsp;
<a href="{{ path('sd_core_planning_one_timetable', { 'planificationID': planification.ID, 'planificationPeriodID': planificationPeriod.ID, 'date': nextDate|date('Ymd') }) }}" class="glyphicon glyphicon-chevron-right" title="{{ 'day.next'|trans }}"></a>
</div>

</div>
</div>

{% block planning_timetable %}
{% endblock %}

{% endblock %}
