{# src/SD/CoreBundle/Resources/views/Planning/timetable.closed.html.twig #}

<table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Email</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="active">
<a href="#" class="glyphicon glyphicon-plus" title="{{ 'modify'|trans }}"></a>
        </td>
        <td class="warning">
Joe&nbsp;
<a href="#" class="glyphicon glyphicon-pencil" title="{{ 'modify'|trans }}"></a>&nbsp;
<a href="#" class="glyphicon glyphicon-trash" title="{{ 'modify'|trans }}"></a>
        </td>
        <td class="active">
<a href="#" class="glyphicon glyphicon-plus" title="{{ 'modify'|trans }}"></a>
        </td>
      </tr>
      <tr>
        <td class="info">
<a href="#" class="glyphicon glyphicon-plus" title="{{ 'modify'|trans }}"></a>
        </td>
        <td class="danger" rowspan=2>
Jim&nbsp;
<a href="#" class="glyphicon glyphicon-pencil" title="{{ 'modify'|trans }}"></a>&nbsp;
<a href="#" class="glyphicon glyphicon-trash" title="{{ 'modify'|trans }}"></a>
        </td>
        <td class="info">
<a href="#" class="glyphicon glyphicon-plus" title="{{ 'modify'|trans }}"></a>
        </td>
      </tr>
      <tr>
        <td class="active">
<a href="#" class="glyphicon glyphicon-plus" title="{{ 'modify'|trans }}"></a>
        </td>
        <td class="active">
<a href="#" class="glyphicon glyphicon-plus" title="{{ 'modify'|trans }}"></a>
        </td>
      </tr>
      <tr>
        <td class="info">
<a href="#" class="glyphicon glyphicon-plus" title="{{ 'modify'|trans }}"></a>
        </td>
        <td class="warning">
Zoé&nbsp;
<a href="#" class="glyphicon glyphicon-pencil" title="{{ 'modify'|trans }}"></a>&nbsp;
<a href="#" class="glyphicon glyphicon-trash" title="{{ 'modify'|trans }}"></a>
        </td>
        <td class="info">
<a href="#" class="glyphicon glyphicon-plus" title="{{ 'modify'|trans }}"></a>
        </td>
      </tr>
    </tbody>
</table>

<table class="table">
    <thead>
      <tr>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Email</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="success">
<a href="#" class="glyphicon glyphicon-plus" title="{{ 'modify'|trans }}"></a>
        </td>
        <td class="danger">
Joe&nbsp;
<a href="#" class="glyphicon glyphicon-pencil" title="{{ 'modify'|trans }}"></a>&nbsp;
<a href="#" class="glyphicon glyphicon-trash" title="{{ 'modify'|trans }}"></a>
		</td>
        <td class="success">
<a href="#" class="glyphicon glyphicon-plus" title="{{ 'modify'|trans }}"></a>
        </td>
      </tr>
    </tbody>
</table>
