{# src/SD/CoreBundle/Resources/views/ResourceClassification/foreign.user.html.twig #}

{% extends "SDCoreBundle::layout.html.twig" %}

{% block body %}

<div class="panel panel-danger">

	<div class="panel-heading">{{ ('resourceClassification.' ~ action ~ '.not.allowed')|trans }}&nbsp;
<a href="{{ path('sd_core_resourceclassification_display', { 'resourceType': resourceType }) }}" class="btn btn-default"><i class="glyphicon glyphicon-chevron-left"></i> {{ 'back'|trans }}</a>
	</div>

	<div class="panel-body">
{% for userFile in listUserFiles %}
{% if userFile.administrator %} {% set image = 'administrator-32.png' %} {% else %} {% set image = 'user-32.png' %} {% endif %}
{% if userFile.userCreated %}
	<a href="{{ path('sd_core_userFile_edit', { 'userFileID': userFile.ID }) }}" class="list-group-item"><img src="{{ asset('bundles/sdcore/images/' ~ image) }}">&nbsp;{{ userFile.getFirstAndLastName() }}&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-user"></span>&nbsp;{{ userFile.username }}</a>
{% else %}
	<a href="{{ path('sd_core_userFile_edit', { 'userFileID': userFile.ID }) }}" class="list-group-item list-group-item-warning"><img src="{{ asset('bundles/sdcore/images/' ~ image) }}">&nbsp;{{ userFile.getFirstAndLastName() }}</a>
{% endif %}
{% endfor %}
	</div>

</div>

{% endblock %}
